/* Styles go here. */
.upper-third {
    min-height: 200px;
    height: 20%;
}

.message-well {
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

.name {
    font-weight: bold;
}

.date {
    font-style: italic;
}